
.sectionProductposition{
  padding: 1.1rem 0 0 0;
  margin-top: 5.1rem;
}

.facts {
  span {
    font-size: 30px;
    margin: .5em 0;
    display: block;
    font-weight: 600;

  }
  h4 {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #666;
    font-weight: 400;
  }
  img{
    height: 16rem;
  }
}
.icon {
  display: block;
  font-size: 40px;
  color: map-get($color-base, gold );
  margin: 0;
  font-weight: normal;
} 
.stats-grid {
    background: #fff;
    padding: 1.5em 2em;
    text-align: center;
    border-right: 6px solid #f6f6f6;
}

.gold{
	color: #FFBF00;
}


				/* 	PRODUCTS */


.product-rating{
	font-size: 20px;
	margin-bottom: 25px;
}

.product-title{
	font-size: 20px;
}

.product-desc{
	font-size: 14px;
}

.product-price{
	font-size: 22px;
}

.product-stock{
	color: #74DF00;
	font-size: 20px;
	margin-top: 10px;
}

/* MAPS */
.map iframe {
  width: 100%;
  border: none;
  outline: none;
  min-height: 400px;
  display: block;
}


.griddarky{
  body.dark &{                            /* Para que tome el cambio del darkmode */
      background-color: rgba(map-get($map: $color-base, $key: dark), 0.85);
      border-right:0px solid rgba(map-get($map: $color-base, $key: dark), 0.85);
  }
}
