/* Seeciones */
.sectionHome{
    padding: 1.1rem 0 0 0;
    margin-top: 2.1rem;
    height: 40vh;
}

.sectionGold-1{
  /*   position: relative;
    top:-0.40rem; */
    background-color: rgba(map-get($map: $color-base, $key: gold-1 ), 0.5);    
    body.dark &{                            /* Para que tome el cambio del darkmode */
        background-color: rgba(map-get($map: $color-base, $key: gold-1 ), 0.85); 
    }
}

div{
    .svgUP{
        fill: map-get($map: $color-base, $key: gold-1);
        fill-opacity:0.5;
        body.dark &{                            /* Para que tome el cambio del darkmode */
            fill-opacity:0.85;
        }
      
    }
    .svgDown{
        fill: map-get($map: $color-base, $key: gold-1);
        fill-opacity:0.5;
        /* position: relative; */
        /* top:-0.41rem; */
        body.dark &{                            /* Para que tome el cambio del darkmode */
            fill-opacity:0.85;
        }
    }
      .ico{
        height: 25vh;
        /* fill: #000000;  */
        /* body.dark &{ */                            /* Para que tome el cambio del darkmode */
      /*       fill-opacity:1;
            fill: aquamarine;
        } */
    }

    .card{
        body.dark &{                            /* Para que tome el cambio del darkmode */
            background-color: rgba(map-get($map: $color-base, $key: dark), 0.85);
        }
}
 
 
    .footerCorte{
        fill: map-get($map: $color-base, $key: dark);
    }
}

.putUp{
    position: relative;
    top: -4.5rem;
}

/* card escuela */

.btn-primary:hover,
.btn-primary:focus {
/*     background-color: #108d6f;*/
    border-color: #108d6f; 
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;

}

/* #team */ .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.frontside .card .card-body img,
.backside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 100%;

}