
/* Seeciones */
.section{
    padding: 1.1rem 0 0 0;
    margin-top: 38px;
    /* height: 100vh; */
}

.sectionGold-1{
    position: relative;
    top:-0.4rem;
    background-color: rgba(map-get($map: $color-base, $key: gold-1 ), 0.5);    
}

div{
    .svgUP{
        fill: map-get($map: $color-base, $key: gold-1);
        fill-opacity:0.5;
    }
    .svgDown{
        fill: map-get($map: $color-base, $key: gold-1);
        fill-opacity:0.5;
        position: relative;
        top:-0.4rem;
    }
    .ico{
        height: 25vh;
    }
    .footerCorte{
        fill: map-get($map: $color-base, $key: dark);
        /* fill-opacity:0.5; */
        position: relative;
        top:0.4rem; 
    }
}