.corte {
    height: 18rem;
    /* background-color: #007bff; */
    background: url('../assets/imagen/corte_1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}